/* body { */
/* background-image: url('https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d9d501aabfa14e210e57bc_BukZNH1teP3lUZNEFk_0CTfsmONSTnOrHHGo3jj5ehZhVKseqmDtIrDr_PVhzeVRVZKBfPQK0szxWZNLt2YKZK8UnnDk-hYfdJEs80VrNgP7u2VOnJnnQi5O9cLPMNnzPCgWOloe.jpeg'); */
/* z-index: 1; */
/* } */
@use "definitions" as *;
.cell {
  @include dementions($cells-size, $cells-size);
  border: 2px $consistant-boarder-style;
  box-shadow: 0 0 0 2px;
  line-height: $cells-size;
  font-size: 50px;
  cursor: pointer;
  border-radius: $consistant-radius;
}
#gameContainer {
  font-family: $family-of-fonts;
  text-align: $alignment-standard;
  display: flex;
  flex-direction: column;
  align-items: $alignment-standard;
  background-color: $eggshell;
  animation: 0.5s pride;
  font-style: $consistant-font-style;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: middle;
}

body {
  background-color: $pride-background-color;
}

/* h1 { */
/* background-color: green; */

/* } */

div {
  background-color: orange;
}

.image {
  width: 200px;
  margin-inline: $image-margin;
}

.audio {
  margin-inline: $audio-margin;
}

.header-main {
  height: 60px;
  background-color: blueviolet;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
}

.header-main-logo {
  @include dementions(60px, 100%);
  color: brown;
}

.header-main-nav {
  height: 100%;
  color: black;
  align-items: center;
  ul {
    list-style: none;
    padding-inline-start: 0;
    li {
      display: inline;
      float: left;
      margin-right: 10px;
      padding: 0 10px;
      font-family: $family-of-fonts;
      align-items: center;
      font-style: italic;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: aqua;
        }
      }
    }
  }
}

.header-main-sm {
  width: 60px;
  height: 100%;
  color: lightgreen;
}

#restartBttn {
  background-color: aqua;
  border-style: $consistant-boarder-style;
  border-color: blue;
  font-family: $family-of-fonts;
  color: darkmagenta;
  border-radius: $consistant-radius;
  padding: 8px;
}

.audio {
  background-color: chocolate;
  border-style: solid;
  border-color: black;
}

#Tic {
  color: red;
}

#Tac {
  color: orange;
}

#Toe {
  color: blue;
}

#restartBttn:hover {
  background-color: white;
}

@keyframes pride {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(0%);
  }
}

@media screen and (max-width: 450px) {
  .image {
    margin: 0 auto;
    position: relative;
    left: 75px;
  }
}
