.cell{
    width: 100px;
    height: 100px;
    border: 2px solid; 
    box-shadow: 0 0 0 2px;
    line-height: 100px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;


}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: middle ;
}

body {
    background-color: pink;
  }
  
  h1 {
    background-color: green;

  }
  
  div {
    background-color: orange;
  }

  .image {
    width: 200px;
    margin-inline: 550px;

  }

  .audio {
    margin-inline: 512px;
  }

  .header-main{
    height: 60px;
    background-color:blueviolet ;
    display: flex;
    justify-content: space-between;
  }

  .header-main-logo {
    width: 60px;
    height: 100%;
    color: brown;

  }

  .header-main-nav {
    height: 100%;
    color: brown;
    align-items: center;

  }

  .header-main-nav ul {
    list-style: none;
    padding-inline-start: 0;

  }

  .header-main-nav ul li {
    display: inline;
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

  }

  .header-main-nav ul li:last-of-type {
    margin-right: 0;

  }


  .header-main-sm {
    width: 60px;
    height: 100%;
    color: lightgreen;

  }

  #restartBttn {
    background-color: aqua;
    border-style: solid;
    border-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkmagenta;
  }

  .audio {
    background-color: chocolate;
    border-style: solid;
    border-color: black;
  }



  